body {
    font-family: Arial, sans-serif;
    background-color: #fcbc81; ;
    padding: 20px;
}
.container {
    max-width: 600px;
    background: #ffffff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}
h1 {
    text-align: center;
    color: #ffff;
    background: #ee7716; ;
    border-radius: 8px;
}
h4{
  text-align: center;
}
.question {
    margin-bottom: 15px;
}

.question label {
    display: block;
    margin-left: 10px;
}

button {
    padding: 10px 15px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background: #ffff;
    border-radius: 5px;
    display: none;
}

.lulus {
  background-color: #55ec97; 
  color: #155724;
  font-weight: bold;
}

.tidak-lulus {
  background-color: #f1a9af; 
  color: #721c24;
  font-weight: bold;
}


